torch>=2.2
transformers>=4.42
datasets
tqdm
scikit-learn

# accélération / mixed‑precision
accelerate>=0.21

# API FastAPI
fastapi
uvicorn[standard]   # inclut pydantic, anyio, etc.

# Visualisation
tensorboard
